
<div class="container">
<div class="field row justify-content-center mt-3 ml-5">
<div class="col-12 col-xs-12 col-md-6">
<%= form_with url: post_movies_path, method: :get do |f| %>
<%= f.collection_select :situation_id, Situation.all, :id, :name, {:prompt => "-- 今日はどんな気分かな --"}, {class: 'form-select'} %>
<%= f.submit '選択', class: "btn btn-outline-info ml-3" %>
<% end %>
</div>
</div>
</div>

<div class="container">
<div class="d-flex flex-wrap mt-3">
<% @post_movies.first(9).each do |post_movie| %>
<%= link_to "#{post_movie.title}", post_movie_path(post_movie.id), class: "col text-center border border-secondary rounded-pill p-3 text-dark text-wrap mb-3" %>
<% end %>
</div>
</div>
</div>

<div class="container col-2 mt-5">
<div class="text-center">
<%= paginate @post_movies %>
</div>
</div>

</div>