<div class="container">
<div class="row">
<div class="col-3 pt-5">
<%= form_with url: post_movies_path, method: :get do |f| %>
<%= f.collection_select :situation_id, Situation.all, :id, :name, {:prompt => "-- 今日はどんな気分かな --"}, {class: 'form-select'} %>
<%= f.submit '選択', class: "btn btn-outline-info mt-3" %>
<% end %>
</div>

<div class="col-9 d-flex flex-wrap align-items-center">
<% @post_movies.first(9).each do |post_movie| %>
<%= link_to "#{post_movie.title}", post_movie_path(post_movie.id), class: "border border-secondary rounded-pill p-3 text-dark text-wrap mr-3" %>
<% end %>
</div>
</div>
</div>




<div class="container col-2 mt-5">
<div class="text-center">
<%= paginate @post_movies %>
</div>
</div>