<div class="container">
<div class="box14">
<p><%= link_to "#{@user.user_name}", user_path(@user.id) %>さんのおすすめ</p>
</div>

<h2 class="text-center mb-2">『<%= @post_movie.title %>』</h2>

<div class="container">
<div class="text-right mb-2">
<% if @user == current_user %>
<%= link_to "編集する", edit_post_movie_path(@post_movie.id), class: "btn btn-outline-secondary" %>
<% end %>
</div>
</div>

<table class="table table-bordered">
    <tr>
        <td class="text-center">シチュエーション</td>
        <td class="text-center"><%= @post_movie.situation.name %></td>
    </tr>
    <tr>
        <td class="text-center">あらすじ</td>
        <td class="text-center"><%= @post_movie.story %></td>
    </tr>
    <tr>
        <td class="text-center">どこで見つかる</td>
        <td class="text-center"><%= @post_movie.site_i18n %></td>
    </tr>
</table>

<div class="box26">
<span class="box-title">レビュー</span>
<p><%= @post_movie.review %></p>
</div>

<div class="container">
<div class="text-right">
<div id="favorite_buttons_<%= @post_movie.id %>">
<%= render 'public/favorites/favorite', post_movie: @post_movie %>
</div>
</div>
</div>


<h2>コメント</h2>
<% @post_movie.post_comments.each do |post_comment| %>
<%= post_comment.user.user_name %>
<%= post_comment.comment %>
<% end %>

<h2>コメント作成</h2>
<%= form_with model:  [@post_movie, @post_comment] do |f| %>
<%= f.label :comment, "コメント" %>
<%= f.text_field :comment %>
<%= f.submit 'コメントする', class: 'btn btn-success' %>
<% end %>