<div class="container">
<div class="box14">
<p><%= link_to "#{@post_movie.user.user_name}", user_path(@post_movie.user.id), class: "text" %>さんのおすすめ</p>
</div>

<h2 class="text-center mb-2">『<%= @post_movie.title %>』</h2>

<div class="container">
<div class="text-right mb-2">
<% if @user == current_user %>
<%= link_to "編集する", edit_post_movie_path(@post_movie.id), class: "btn btn-outline-secondary" %>
<% end %>
</div>
</div>

<table class="table table-bordered">
    <tr>
        <td class="text-center">シチュエーション</td>
        <td class="text-center"><%= @post_movie.situation.name %></td>
    </tr>
    <tr>
        <td class="text-center">あらすじ</td>
        <td class="text-center"><%= @post_movie.story %></td>
    </tr>
    <tr>
        <td class="text-center">どこで見つかる</td>
        <td class="text-center"><%= @post_movie.site_i18n %></td>
    </tr>
</table>

<div class="box26">
<span class="box-title">レビュー</span>
<p><%= @post_movie.review %></p>
</div>

<div class="container">
<div class="text-right">
<div id="favorite_buttons_<%= @post_movie.id %>">
<%= render 'public/favorites/favorite', post_movie: @post_movie %>
</div>
</div>
</div>

<div class="container">
<h2>みんなからのコメント</h2>
<div class="overflow-auto" style="height:100px;">
<% @post_movie.post_comments.each do |post_comment| %>
<div class="balloon5">
<div class="faceicon">
<% if post_comment.user.profile_image.attached? %>
<%= image_tag post_comment.user.profile_image, size: "100x100" %>
<% else %>
<%= image_tag 'no_image', size: "100x100" %>
<% end %>
</div>
<div class="chatting">
<div class="says">
<p class="font-weight-bold"><%= post_comment.user.user_name %> : </p>
<p><%= post_comment.comment %></p>
<% end %>
</div>
</div>
</div>
</div>
</div>


<div class="container">
<div class="mt-3 mb-5">
<h2>コメントを書こう</h2>
<div class="form-group">
<%= form_with model:  [@post_movie, @post_comment] do |f| %>
<%= f.text_area :comment, class:"form-control" %>
<%= f.submit 'コメントする', class: 'btn btn-outline-dark mt-2 d-flex' %>
<% end %>
</div>
</div>
</div>