<div class="container">
<%= link_to "#{@user.user_name}", user_path(@user.id) %>さんのおすすめ


<h2><%= @post_movie.title %></h2>
<table class="table table-bordered">
    <tr>
        <td class="text-center">シチュエーション</td>
        <td class="text-center"><%= @post_movie.situation.name %></td>
    </tr>
    <tr>
        <td class="text-center">あらすじ</td>
        <td class="text-center"><%= @post_movie.story %></td>
    </tr>
    <tr>
        <td class="text-center">どこで見つかる</td>
        <td class="text-center"><%= @post_movie.site_i18n %></td>
    </tr>
</table>

<h2>レビュー</h2>
<%= @post_movie.review %>

<% if @user == current_user %>
<%= link_to "編集する", edit_post_movie_path(@post_movie.id) %>
<% end %>

<div id="favorite_buttons_<%= @post_movie.id %>">
<%= render 'public/favorites/favorite', post_movie: @post_movie %>
</div>

<h2>コメント</h2>
<% @post_movie.post_comments.each do |post_comment| %>
<%= post_comment.user.user_name %>
<%= post_comment.comment %>
<% end %>

<h2>コメント作成</h2>
<%= form_with model:  [@post_movie, @post_comment] do |f| %>
<%= f.label :comment, "コメント" %>
<%= f.text_field :comment %>
<%= f.submit 'コメントする', class: 'btn btn-success' %>
<% end %>