
<div class="container">
 <div class="field row justify-content-center py-5">
  <h2>管理者ログイン</h2>
 </div>

 <%= form_with model: @admin, url: admin_session_path do |f| %>
  <div class="field row justify-content-center py-3">
    <%= f.email_field :email, class: 'col-md-5', autofocus: true, autocomplete: "email", placeholder: "メールアドレス:sample@example.com" %>
  </div>
  
  <div class="field row justify-content-center py-3">
    <%= f.password_field :password, class: 'col-md-5', autocomplete: "current-password", placeholder: "パスワード" %>
  </div>

  <div class="actions row justify-content-center py-3">
    <%= f.submit "ログイン", class: 'btn btn-outline-dark' %>
  </div>
  
 <% end %>

</div>


<%= render "admin/shared/links" %>

