<div class="container">
    
 <div class="text-center mt-5">
     
  <h2>Which movies, today?</h2>
  <p>『シチュエーション×おうち映画』</p>
  <p>「今日はおうち時間を過ごす為に、<br>何か映画を観ようかな」</p>

  <div class="d-flex align-items-center justify-content-center">
   <p>「何を観よう…」</p><%= image_tag 'family.jpg', size: "150x100" %>
  </div>

  <div class="d-flex align-items-center justify-content-center">
   <%= image_tag 'thinking4.jpg', size: "150x100" %><p>「今日の気分は…」</p>
  </div>


  <p class="mt-2">テーマで映画を探してみよう</p>


  <%= link_to "映画を探そう", root_path, class: "mt-3 btn-flat-dashed-filled" %>
  
  <p class="ml-1 mt-5">会員登録 or ログインをすると、</p>
  <p>映画の詳細が読めたり</p>
  <p>みんなと意見をシェアできるよ</p>
  <p>↓↓レビューサイト例↓↓</p>
  
  <div>
  <%= image_tag 'introduction.jpg', size: "300x400" %>
  </div>
  
  <%= link_to "ログイン", new_user_session_path, class: "mt-3 btn-flat-dashed-filled" %>
  <%= link_to "会員登録", new_user_registration_path, class: "mt-3 mb-3 btn-flat-dashed-filled" %> </div>
 
</div>