<div class="container">
<div class="col-md-12">
<h2 class="mt-5 text-center">ログイン</h2>

  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user' do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  
  <div class="field row justify-content-center py-3">
    <%= f.label :name, "名前", class: "col-md-3" %>
    <%= f.text_field :name, class: "col-md-3 form-control", autofocus: true, required: true %>
  </div>
  
  <div class="field row justify-content-center py-3">
    <%= f.label :kana_name, "ふりがな", class: "col-md-3" %>
    <%= f.text_field :kana_name, class: "col-md-3 form-control", autofocus: true, required: true %>
  </div>
  
  <div class="field row justify-content-center py-3">
    <%= f.label :user_name, "ユーザー名", class: "col-md-3" %>
    <%= f.text_field :user_name, class: "col-md-3 form-control",autofocus: true, required: true %>
  </div>
  
  <div class="field row justify-content-center py-3">
    <%= f.label :email, "メールアドレス", class: 'col-md-3' %>
    <%= f.email_field :email, class: "col-md-3 form-control", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field row justify-content-center py-3">
    <%= f.label :password, "パスワード(6文字以上)", class: 'col-md-3' %>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, class: "col-md-3 form-control", autocomplete: "new-password" %>
  </div>
 

  <div class="field row justify-content-center py-3">
    <%= f.label :password_confirmation, "パスワード(確認用)", class: 'col-md-3' %>
    <%= f.password_field :password_confirmation, class: "col-md-3 form-control", autocomplete: "new-password" %>
  </div>

  <div class="actions row justify-content-center py-3">
    <%= f.submit "新規登録", class: "btn btn-outline-dark mt-3" %>
  </div>
  
  <% end %>
  </div>
  
  <%= render "public/shared/links" %>

</div>
</div>

