<div class="container">
    
 <div class="col-md-12">
     
   <h2 class="field row justify-content-center py-5">ログイン</h2>

   <%= form_with model: @user, url: user_session_path do |f| %>
   <%= render "public/shared/error_messages", resource: resource %>
   
   <div class="field row justify-content-center py-3">
    <%= f.email_field :email, class: 'col-md-5', autofocus: true, required: true, autocomplete: "email", placeholder: "メールアドレス：sample@example.com" %>
   </div>

   <div class="field row justify-content-center py-3">
    <%= f.password_field :password, class: 'col-md-5', required: true, autocomplete: "current-password", placeholder: "パスワード" %>
   </div>

   <div class="actions row justify-content-center py-3">
    <%= f.submit "ログイン", class: 'btn btn-outline-dark mt-3' %>
   </div>
   
   <% end %>

  <%= render "public/shared/links" %>
  
 </div>
 
</div>