<div class="container">
    
 <div class="field row justify-content-center mt-3">
  <% if @user.profile_image.attached? %>
   <%= image_tag @user.profile_image, size: "100x100", class: "rounded-circle" %>
  <% else %>
   <%= image_tag 'no_image.jpg', size: "80x80", class: "rounded-circle" %>
  <% end %>
 </div>

 <div class="field row justify-content-center">
  <h2><%= @user.user_name %></h2>
 </div>
  <% if @user.is_deleted == true %>
 <div class="field row justify-content-center">
  <h3>※退会済みユーザー</h3>
 </div>
  <% end %>

<% if @user.is_deleted == false %>
 <div class="field row justify-content-center">
  <div class="mr-2">
    <%= link_to @user.followings.count, followings_user_path(@user), class: "text" %>フォロー
  </div>
  <div>
    <%= link_to @user.followers.count, followers_user_path(@user), class: "text" %>フォロワー
  </div>
 </div>

 <div class="field row justify-content-center mt-2">
  <% if @user == current_user %>
  
        <%= link_to edit_user_path(@user) do %>
            <button class ="btn btn-outline-secondary">マイプロフィール</button>
        <% end %>
        
  <% else %>
  
    <% if @user.is_followed_by?(current_user) %>
    
        <%= link_to user_relationships_path(@user), method: :delete do %>
            <button class = "btn btn-outline-danger">フォロー解除</button>
        <% end %>
        
    <% else %>
    
        <%= link_to user_relationships_path(@user), method: :post do %>
            <button class = "btn btn-outline-primary">フォロー</button>
        <% end %>
        
    <% end %>
    
  <% end %>
  
 </div>
<% end %>

 <div class="col-md-12 d-flex flex-wrap mt-3">
  <% @user.post_movies.each do |post_movie| %>
   <%= link_to "#{post_movie.title}", post_movie_path(post_movie.id), class: "btn btn-outline-dark mb-1 mx-auto"  %>
  <% end %>
 </div>

</div>