<div class="container">
<div class="field row justify-content-center mt-3">
<% if @user.profile_image.attached? %>
<%= image_tag @user.profile_image, size: "80x80" %>
<% else %>
<%= image_tag 'no_image', size: "80x80" %>
<% end %>
</div>

<div class="field row justify-content-center">
<h2><%= @user.user_name %></h2>
</div>

<div class="field row justify-content-center">
<%= link_to @user.followings.count, followings_user_path(@user) %>フォロー
<%= link_to @user.followers.count, followers_user_path(@user) %>フォロワー
</div>

<div class="field row justify-content-center mt-2">
<% if @user == current_user %>
    <%= link_to edit_user_path(@user) do %>
        <button class ="btn btn-success">マイプロフィール</button>
    <% end %>
<% else %>
    <% if @user.is_followed_by?(current_user) %>
        <%= link_to user_relationships_path(@user), method: :delete do %>
            <button class = "btn btn-danger">フォロー解除</button>
        <% end %>
    <% else %>
        <%= link_to user_relationships_path(@user), method: :post do %>
            <button class = "btn btn-primary">フォロー</button>
        <% end %>
    <% end %>
<% end %>
</div>


<div class="d-flex flex-wrap mt-3">
<% @user.post_movies.each do |post_movie| %>
<%= link_to "#{post_movie.title}", post_movie_path(post_movie.id), class: "btn btn-outline-dark"  %>
<% end %>
</div>

</div>